@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
    from {
    opacity: 0;
    }
    to {
    opacity: 1;
    }
}

@keyframes scale-in {
    from {
    opacity: 0;
    transform: scale(0.9);
    }
    to {
    opacity: 1;
    transform: scale(1);
    }
}

.animate-fade-in {
    animation: fade-in 0.2s ease-out;
}

.animate-scale-in {
    animation: scale-in 0.3s ease-out;
}

@keyframes blob {
    0%, 100% {
    transform: translate(0, 0) scale(1);
    }
    25% {
    transform: translate(20px, -50px) scale(1.1);
    }
    50% {
    transform: translate(-20px, 20px) scale(0.9);
    }
    75% {
    transform: translate(50px, 50px) scale(1.05);
    }
}

.animate-blob {
    animation: blob 7s infinite;
}

.animation-delay-2000 {
    animation-delay: 2s;
}